/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
html {
    font-size:10px
}
body {
    font-family: 'KorolevCondensedW04', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}
/* general */
.main {
    z-index:-1;
    position: relative;
}
.more .btn {
    margin: 0;
    font-family: "Bahij TheSansArabic";
    font-weight: bold;
}
.btn,
.btn-more {
    padding: 1.3rem 3rem;
    box-shadow: none;
    background: #fff;
    border: 1px solid #008135 !important;
    border-radius: 5rem;
    color: #008135;
    font-size: 1.4rem;
    margin: 2rem 0 0;
    transition: all 0.5s ease-in-out;
    text-align: center;
}
.btn-default:hover, 
.btn-more:hover ,
.btn:hover {
    background: #008135 !important;
    color: #fff !important;
    border-color: #008135 !important;
}
.title {
    display: flex;
    padding: 0 0 2rem;
    align-items: center;
    justify-content: space-between;
}
.title h3 {
    font-size: 3.5rem;
    font-weight: bold;
}
.title p {
    font-size: 1.8rem;
    font-weight: normal;
    color: #008135;
}
.main_title {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin: 0 0 2rem;
}
/* header */
header {
    background: #fff;
    padding: 4rem 0;
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0px 3px 73px rgba(0,0,0,0.16));
}
header.fixed-header {
    background: #fff;
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: all 0.5s ease-in-out;
    animation: fade 3s;
    padding: 2rem 0
}
header .home {
    padding: 0 1rem 0 0;
}
header .menu {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    padding: 1rem 0 0;
    gap: 2rem;
}
header .menu li a {
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    padding: 0 0.5rem;
}
header .menu li:hover > a {
    color: #008135
}
header .menu ul li:hover > a {
    color: #008135
}
header .menu li ul {
    list-style: none;
    display: none;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    background: #fff;
    border-radius: 1rem;
    padding: 0;
}
header .menu li.menu-item-has-children:hover ul {
    display: block;
    position: absolute;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    z-index: 99;
    top: 2.3rem;
    width: 27rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border: 1px solid #D0D0D0;
}
header .menu li.menu-item-has-children {
    position: relative;
}
header .menu li.menu-item-has-children:after {
    position: absolute;
    top: 0;
    background: url(../images/square-chevron-down.svg) no-repeat center/75%;
    width: 2rem;
    height: 2rem;
    content: "";
    left: -1.6rem;
    z-index: 9999999999;
}
header .menu li ul li a {
    padding:1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    border-bottom: 1px solid #D0D0D0;
}
header .menu li ul li:last-of-type a {
    border: none
}
header .header-bottom .menu {
    padding: 0;
    margin: 0 1rem;
    border: 1px solid #008135;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    gap: unset;
    flex-direction: unset;
}
header .header-bottom .menu a  {
    font-size: 0;
    color: #008135;
    font-family: "Alexandria";
    font-weight: 400
}
header .header-bottom .menu a span:last-child {
    font-size: 1.4rem;
}
header  .header-bottom .menu li.menu-item-has-children:after {
    display: none;
}
header .search {
    border: 1px solid #C9C9C9;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0 1rem;
    margin: 0 0 0 2rem;
}
header .search input {
    border: none;
    padding: 0.5rem;
    background: transparent;
}
header .search button {
    background: transparent;
    border: 0 !important;
    padding: 0;
    margin: 0;
}
header .search button:hover {
    background: transparent !important;
}
header .search button svg {
    width: 2rem;
}
header .request button {
    background: #008135;
    border: 1px solid #008135;
    display: block;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    font-family: Bahij TheSansArabic;
    margin: 0;
}
header .request button:focus ,
header .request button:hover {
    background: #fff;
    color: #008135;
    border-color: #008135;
}
#QuotationModalHeader .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: unset;
}
#QuotationModalHeader .modal-dialog .modal-header {
    display: block;
    text-align: center;
    border:0 ;
}
#QuotationModalHeader .modal-dialog .modal-header h5 {
    font-size: 3rem;
}
#QuotationModalHeader .modal-dialog .modal-header button {
    font-size: 3rem;
}
#QuotationModalHeader .modal-content {
    padding: 3rem 12rem;
    background: #fafafa;
}
#QuotationModalHeader .modal-body .gform_wrapper {
    width: 40%;
    margin: auto;
}
#QuotationModalHeader .modal-content .gform_title {
    display: none;
}
header .social {
    flex-direction: row-reverse;
    display: flex;
    align-items: center
}
header .social li {
    transition: all 0.5s ease-in-out;
}
header .social li:hover {
    transform: scale(0.9)
}
/* about__section */
.about__section {
    margin: 4rem 0;
}
#abouTabContent {
    flex: 1;
}
.about__section .about__details .nav-tabs {
    border: none;
}
.about__section .about__details {
    padding: 0 8rem 0 0;
    flex: 1;
}
.about__section .about__details .nav-tabs {
    display: inline-flex;
    gap: 4rem;
    border-bottom: 1px solid #C9C9C9;
}
.about__section .about__details .nav-tabs li button {
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 2.2rem;
    padding: 1rem 0;
    color: #A0A0A0;
    font-weight: normal;
    outline: none
}
.about__section .about__details .nav-tabs li button.active {
    color: #008135;
    outline: none;
    /* border-bottom: 1px solid #008135; */
    position: relative;
    z-index: -1;
}
.about__section .about__details .nav-tabs li button.active:after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 2rem;
    height: 3px;
    right:0;
    left: 0;
    margin: auto;
    background: #008135

}
.about__section .about__details .tab-pane {
    padding: 5rem 0 0;
}
.about__section .about__details .tab-pane span {
    font-size: 1.5rem;
    color: #008135;
    font-weight: normal;
}
.about__section .about__details .tab-pane h3 {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 1rem 0 2rem;
}
.about__section .about__details .tab-pane p {
    font-size: 2rem;
    font-weight: normal;
}
.about__section .about__details .tab-pane a {
    
}
.about__section .about__image img {
    width: 100%;
}
.about__image {
    text-align: center;
    margin: auto
}
/* products */
.products {
    padding: 5rem 0 4rem;
    background: #E6E6E6;
    clip-path: polygon(0 0, 100% 0%, 100% 96%, 0% 100%);
}
.products .more a {
    border-color: #000 !important;
    color: #000;
}
.products .item {
    margin: 1rem;
    background: transparent;
    border-radius: 0.5rem;
    overflow: hidden;
}
.products .item .image {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.products .item .image img {
    transition: all 0.5s ease-in-out;
}
.products .item:hover .image > img {
    animation: pulse 4s infinite
}
.products .item .image .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(-27deg, rgba(0, 129, 53, 1),rgba(0, 129, 53, 0.49),rgba(0, 129, 53, 0.49),rgba(0, 129, 53, 0.49), rgba(0, 129, 53, 0.49));
    border-radius:0.5rem;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.5s ease-in-out
}
.products .item .image .icon svg {
    width: 3rem
}
.products .item:hover .image .icon {
    transform: scale(1);
}
.products .item .caption {
    padding: 2rem 0;
}
.products .item .caption h3 {
    color: #000;
    font-size: 2.5rem;
    font-weight: normal;
    transition: all 0.5s ease-in-out;
}
.products .item:hover .caption h3 {
    color: #008135
}
.products .item .caption p {
    font-size: 1.4rem;
    color: #B5B5B5;
    font-weight: normal;
    line-height: 1.6;
}
.products .item .caption a {
    color: #000;
    background: rgba(0,0,0,0.08);
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    /* margin: 1rem 0; */
    display: inline-block;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
}
.products .item .caption a:hover {
    background: #008135;
}
.products .slick-next {
    top: -8rem;
    left: 25rem;
    background: url(../images/back-left.png) no-repeat center/90%;
    transform: rotate(0);
}
.products .slick-prev {
    top: -8rem;
    left: 30rem;
    right: unset;
     background: url(../images/back-right.png) no-repeat center/90%;
    transform: rotate(0);
}
.slick-dots button {
    background: #fff !important;
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50%;
}
.slick-dots .slick-active button {
    background: #000 !important;
    
}
.slick-dots button:before {
    display: none;
}
.slick-dots li {
    margin: 0;
}
/* statistics__section */
.statistics__section {
    padding: 7rem 0;
}
.statistics__section .title .text,
.statistics__section .statistics-items {
    padding: 0 9rem 0 9rem;
}
.statistics__section .statistics-items {
    margin-top: 4rem;
}
.statistics__section .statistics-items .item img {
    width: 80%;
}
.statistics__section .item .text h2 {
    font-size: 4rem;
    margin: 2rem 0 1rem;
    text-align: center;
}
.statistics__section .item .text p {
    font-size: 1.2rem;
    font-weight: normal;
    color: #008135;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.statistics__section .image {
    margin: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem 0 0 2rem;
}
/* projects */
.projects {
    background: #008135;
    padding: 7rem 0 5rem;
    clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
}
.projects .title p ,
.projects .title {
    color: #fff;
}
.projects .title .more a {
    background: #2BA75A;
    color: #fff;
    border-color: #fff !important
}
.projects .item {
    /* margin: 2rem 1rem; */
    overflow: hidden;
}
.projects .item .image {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    margin: 0 1rem;
}
.projects .item .image img {
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.projects .item:hover .image img {
    animation: pulse 4s infinite
}
.projects .item .image .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(-27deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.49),rgba(255, 255, 255, 0.49),rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.49));
    border-radius:0.5rem;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 0.5s ease-in-out
}
.projects .item .image .icon svg {
    width: 3rem
}
.projects .item .image .icon svg path {
    fill: #000
}
.projects .item:hover .image .icon {
    transform: scale(1);
}
.projects .item .image .icon p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #000;
    font-size: 1.4rem;
    font-weight: normal;
    gap: 0.7rem;
}
.projects .item .image .icon p svg {
    width: 2rem;
}
.projects .item .caption {
    padding: 2rem;
}
.projects .item .caption h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    transition: all 0.5s ease-in-out;
}
.projects .item:hover .caption h3 {
    color: #fff
}
.projects .item .caption p {
    font-size: 1.55rem;
    color: #fff;
    font-weight: normal;
    line-height: 1.6;
}
.news .slick-dots li button ,
.projects .slick-dots li button {
    background: rgba(236, 236, 236,0.49) !important;;
}
.news .slick-dots li.slick-active button ,
.projects .slick-dots li.slick-active button {
    background: #fff !important;;
}
.slick-prev:before, .slick-next:before {
    display: none;
}
.slick-next {
    width: 4rem;
    height: 4rem;
    background: url(../images/square-arrow-right.svg) no-repeat center/100%;
    position: absolute;
    /* bottom: -60px !important; */
    transform: rotate(90deg);
}
.slick-prev {
    width: 4rem;
    height: 4rem;
    background: url(../images/square-arrow-left.svg) no-repeat center/100%;
    position: absolute;
    /* bottom: -60px !important; */
    transform: rotate(90deg);
}
.slick-prev:hover, .slick-prev:focus {
    background: url(../images/square-arrow-left.svg) no-repeat center/100%;
}
.slick-next:hover, .slick-next:focus {
    background: url(../images/square-arrow-right.svg) no-repeat center/100%;
}
.projects .slick-next {
    left: unset !important;
    right: 26rem;
    margin: auto;
    top: -82px !important;
}
.projects .slick-prev {
    left: unset !important;
    right: 32rem !important;
    margin: auto;
    top: -81px !important;
}
.projects .slick-prev:hover, partners_section .slick-prev:focus {
    background: url(../images/Down.png) no-repeat center/100%;
}
.projects .slick-next:hover, partners_section .slick-next:focus {
    background: url(../images/Down.png) no-repeat center/100%;
}
/* partners_section */
.partners_section {
    padding: 3rem 0;
}
.partners_section .item .image {
    display: flex;
    justify-content: center;
    margin: 0 3rem;
    align-items: center;
    height: 12rem;
}
.partners_section .item .image img {
    transition: all 0.5s ease-in-out
}
.partners_section .item .image:hover img {
    transform: scale(0.89)
}
/* news */
.news {
    background: #000;
    padding: 6rem 0 4rem;
    clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
}
.news .title p,
.news .title {
    color: #fff;
}
.news .title .more a {
    background: #262626;
    border-color: #262626 !important;
    color: #fff;
}
.news .item {
    margin: 1rem 1rem 3rem 1rem;
    padding: 1.5rem;
    background: #fff;
    border-radius: 1.5rem;
}
.news .item .image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.news .item .caption {
    padding: 2rem 1rem 0;
}
.news .item .caption h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
.news .item .caption p {
    font-weight: 100;
    font-size: 1.5rem;
    margin: 0;
}
.news .item .caption a {
    padding: 1rem 2rem;
    margin: 1rem 0
}
.news .slick-next {
    left: unset !important;
    right: 18rem;
    margin: auto;
    top: -82px !important;
}
.news .slick-prev  {
    left: unset !important;
    right: 24rem !important;
    margin: auto;
    top: -81px !important;
}
/* vision */
.vision {
    padding: 5rem 0
}
.vision .title h3 {
    color: #008135;
    font-size: 3rem;
    font-weight: 500;
}
.vision .title p {
    color: #605E5E;
    width: 67%;
    font-weight: 400
}
.vision .image img {
    width: 50%;
}
.vision .image {
    margin: auto;
    text-align: center
}
/* newsletter */
.newsletter {
    background: #2BA75A;
    padding: 4rem;
}
.newsletter .title {
    justify-content: center;
    text-align: center;
}
.newsletter .title p {
    color: #000;
}
.newsletter .newsletter_form {
    width: 70%;
    margin: auto;
}
.newsletter .emaillist form {
    display: flex;
    align-items: center;
    border: 1px solid #D6D6D6;
    border-radius: 5rem;
    overflow: hidden;
    background: #fff;
    padding: 3px;
}
.es-field-wrap {
    width: 100%;
    margin: 0;
    height: 6rem;
}
.newsletter .emaillist form input {
    width: 100%;
    border: 0;
    height: 6rem;
    padding: 2rem;
    font-size: 1.6rem;
    background: transparent;
    color: #D3D3D3;
    line-height: 2;
}
.newsletter .emaillist form input::placeholder {
    font-size: 1.6rem;
    color: #D3D3D3;
    line-height: 2;
}
.newsletter .emaillist form input[type=submit] {
    width: fit-content;
    margin:0;
    background: #1D1D1B;
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.es_subscription_message.success,
.es_subscription_message.error {
    color: #fff
}
/* contact-info */
.home .contact-info {
    margin-top: 0
}
.contact-info {
    padding: 4rem 0;
    background: #000;
    margin-top: 7rem
}
.contact-info h3 {
    color: #fff;
    font-size: 2.4rem;
    flex: 2;
    padding: 0 0rem;
}
.contact-info .items .d-flex {
    flex: 5;
}
.contact-info .item {
    color: #fff;
    gap: 1rem;
    flex: 1;
    margin: 0 1rem;
    /* width: 33.3%; */
}
.contact-info .item:first-of-type {
    width: 33.3%;
}
.contact-info .item .icon {
    background: #fff;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.contact-info .item .icon svg {
    width: 2.5rem;
    height: 2.5rem;
}
.contact-info .item h5 span {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7
}
.contact-info .item h5 span:last-of-type {
    font-size: 1.2rem;
    display: block;
    color: #fff;
    /* width: 74%; */
    direction: rtl;
}
.contact-info .item:first-of-type h5 {
    width: 77%;
}
/* footer */
footer {
    background: rgba(208, 208, 202, 0.17);
}
.footer__top {
    padding: 3rem 0;
}
.footer__top .col:first-of-type {
    flex-grow: 3;
}
.footer__top .col:first-of-type .logo img {
    width: 50%;
}
.footer__top .col:first-of-type p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0;
    width: 70%;
    line-height:1.6
}
.footer__top ul {
    padding: 0;
    list-style: none;
}
.footer__top .col:first-of-type ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.footer__top ul.menu a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.7rem 0;
    display: block;
    transition: all 0.5s ease-in-out
}
.footer__top ul.menu a:hover {
    color: #008135;
}
.footer__top ul.social li {
    transition: all 0.5s ease-in-out;
    margin: 0 !important;
}
.footer__top ul.social li svg {
    width: 2rem;
    height: 2rem;
}
.footer__top ul.social li:hover {
    transform: scale(0.9);
}
.footer__top .vision {
    padding-right: 5rem;
}
.footer__bottom {
    padding: 3rem 0;
}
.footer__bottom p {
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}
.footer__bottom .rowaad span {
    padding-right: 1rem;
}
.footer__bottom .rowaad a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}
/* breadcrumbs */
#breadcrumbs {
    margin: 0;
    padding: 4rem 0 3rem;
    text-align: left;
}
#breadcrumbs a ,
#breadcrumbs h3 {
    font-size: 1.4rem;
    color: #008135;
}
#breadcrumbs a {
    color: #000;
}
#breadcrumbs svg {
    transform: rotate(180deg)
}
.about-page {
    padding-bottom: 6rem
}
.page-template-about  .contact-info {
    margin: 0;
}
.about-page h3.main_title {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}
.about-page .vision h3.main_title ,
.about-page .message h3.main_title {
    color: #008135
}
.about-page .text p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    line-height: 1.8;
}
.about-page .about_content {
    padding: 0;
}
.about-page .vision {
    padding: 4rem 0;
}
.about-page .message .d-flex ,
.about-page .vision .d-flex {
    gap: 3rem;
}
.about-page .message .image ,
.about-page .vision .image {
    overflow: hidden;
    
    flex: 1;
}
.about-page .message .image img,
.about-page .vision .image img {
    border-radius: 2rem;
}
.about-page .message .text ,
.about-page .vision .text {
    flex: 2;
}
/* 404 */
.error-message {
    color: #000;
    font-size: 15rem
}
.error-message:before {
    color: #000;
}
.error-message + p ,
.error-message + p +p {
    font-size: 2rem;
}
/* partners-page */
.partners-page .row {
    flex-wrap: no-wrap;
}
.partners-page .item {
    flex: 1;
}
.partners-page .item .image {
    margin: 3rem 0;
    position: relative;
    text-align: center;
}
.partners-page .item .image img {
    width: 80%;
}
.partners-page {
    /*margin-bottom: 10rem*/
}
/* programs-page */
.projects-page.projects .item .caption h3 ,
.projects-page.projects .item .caption p {
    color: #000;
}
.news.news-page ,
.products-page.products ,
.projects-page.projects {
    background: transparent;
    padding: 0 0 3rem;
}
.projects-page.projects .item {
    margin: 0 1rem
}
.news.news-page .item {
    border: 1px solid #C9C9C9;
    min-height: 36rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.entry-content {
    padding: 0;
}
.page-id-2664 .gform_title {
    display: none;
}
.page-id-2664 .gform_wrapper.gravity-theme .gform_fields {
    display: flex;
    flex-wrap: wrap;
}
.page-id-2664 .gform_wrapper.gravity-theme .gform_fields .gfield {
    /* flex: 1; */
    width: 33%;
    position: relative;
}
.page-id-2664 .gform_wrapper.gravity-theme .gform_fields .gfield label {
    font-size: 1.6rem;
    padding: 0 1.5rem;
}
.page-id-2664 .gform_wrapper.gravity-theme .gform_fields .gfield input {
    border-radius:1rem;
    border: 1px solid #BFBFBF;
    padding: 1.7rem;
}
.page-id-2664 .gform_wrapper.gravity-theme .gform_fields .gfield input::placeholder {
    color: #000;
}
.iti__flag-container {
    left: unset !important;
    right: 0 !important;
    direction: rtl !important;
    color: #707070;
    font-size: 1.3rem;
}
.iti--separate-dial-code .iti__selected-flag {
    background: transparent !important;
}
.iti__flag-container .iti__arrow {
    display: none;
}
.upload__file .ginput_container {
    border-radius:1rem;
    border: 1px solid #BFBFBF;
    /* padding: 1.7rem; */
    position: relative;
}
.upload__file  input{
    opacity: 0;
}
.gform_fileupload_rules {
    display: none !important;
}
.upload__file .ginput_container + .gfield_description {
    position: absolute;
    top: 4.8rem;
    left: 2rem;
    padding: 0 !important;
    background: url(../images/upload.png) no-repeat right 10% center/6%;
}
/* project-single */
.project-single  {
    /*margin-bottom: 10rem;*/
}
.project-single .main-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.single__header h3.entry-title {
    font-size: 2.6rem;
    color: #008135;
    font-weight: bold;
}
.single__header p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2;
    color: #000
}
/* product-single */
.product-single .request .btn {
    background: #008135;
    color: #fff;
}
.product-single .main-image img {
    border-radius: 1rem
}
/* contact-page */
.contact-page .contact-info {
    background: transparent;
    margin: 0;
}
.contact-page .contact-info .item  {
    text-align: center;
    margin: 0 0 3rem;
    flex: 1;
}
.contact-page .contact-info .item .icon {
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;
    background: #008135;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem;
    box-shadow: 0px 3px 94px rgba(0,125, 53,0.8 );
}
.contact-page .contact-info .item .icon svg {
    width: 2.7rem;
}
.contact-page .contact-info .item h5 {
    font-size: 1.9rem;
    color: #000;
    font-weight: 500;
    width: 100%;
}
.contact-page .contact-info .item p {
    color: #000;
    font-size: 1.5rem;
    padding: 0 6rem;
    margin: 0;
    font-weight: 500;
}
.contact-page .gform_wrapper {
    padding: 6rem 12rem;
    margin: auto;
    background: #F5F5F5;
    border-radius: 0 5rem 0 0;
}
.contact-page .gform_wrapper .gform_fields {
    display: flex;
    flex-wrap: wrap;
}
.gform_confirmation_message {
    font-size: 2rem;
    font-weight: bold;
    text-align: center !important;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.gform_legacy_markup_wrapper .gfield_description {
    font-size: 1.2rem !important;
}
.contact-page .gform_wrapper .gform_fields .gfield {
    width: 100%;
    padding-right: 0 !important;
}
.contact-page .gform_wrapper .gform_fields .gfield:last-child {
    width: 100%;
}
.contact-page .gform_wrapper .gform_fields .gfield label {
    font-size: 1.6rem;
    padding: 0 1.5rem;
}
.gform_wrapper .gform_fields .gfield select ,
.gform_wrapper .gform_fields .gfield textarea ,
.gform_wrapper .gform_fields .gfield input {
    border-radius: 1.2rem;
    border: 1px solid #D6D6D6;
    padding: 1.2rem !important;
    font-size: 1.9rem !important;
}
.gform_wrapper .gform_fields .gfield select ,
.gform_wrapper .gform_fields .gfield input::placeholder ,
.gform_wrapper .gform_fields .gfield textarea::placeholder {
    color: #C9C9C9 !important;
    font-size: 1.6rem;
    font-weight: normal;
}
.gfield_required_text,
.gfield_required_asterisk {
    display: none !important;
}
.contact-page .gform_title {
    text-align: center !important;
    font-size: 4rem !important;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
}
.gform_footer .btn {
    font-size: 2rem !important;
    padding: 1rem 5rem;
    width: 100% !important;
    display: flex !important;
    background: #008135;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    border-radius: 1.5rem !important;
}
.contact-page .bottom .map {
    margin: 5rem 0 0 9rem;
}
.contact-page .bottom .map iframe {
    border-radius: 4rem 0 0 0;
    overflow: hidden;
    position: relative;
}
.contact-page .bottom .map:after {
    position: absolute;
    content: "";
    top: 1rem;
    left: 4.5rem;
    background: #008135;
    border-radius: 4rem 0 0 0;
    width: 14rem;
    height: 14rem;
    z-index: -1;
}
/* bank_accounts-page */
.bank_accounts-page {
    /*margin-bottom: 10rem*/
}
.bank_accounts-page .item {
    border: 1px solid #C9C9C9;
    margin: 2rem 0.5rem;
    border-radius: 1.7rem;
    overflow: hidden;
}
.bank_accounts-page .item ul {
    margin:0
}
.bank_accounts-page .item li {
    border-bottom: 1px solid #C9C9C9;
    text-align: center;
    padding: 1.8rem 1rem;
}
.bank_accounts-page .item li:first-child {
    background: #008135;
}
.bank_accounts-page .item li:last-of-type {
    border: none;
    padding: 1.8rem 3rem 1.5rem;
}
.bank_accounts-page .item li .title {
    padding: 0 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    background: #008135;
}
.bank_accounts-page .item li p {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
.bank_accounts-page .item li .btn {
    width: 100%;
    margin: 0;
}
/* governance-page */
.governance-page .item {
    /* max-height: 24rem; */
    position: relative;
    overflow: hidden;
    /* border-radius: 1rem; */
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap::after {
	transition: opacity 0.3s;
	transition-timing-function: ease-out;
}

.js .main-wrap--overlay::after {
	opacity: 1;
	transition-delay: 0s;
}

.js .search__wraper {
	pointer-events: none;
	transition: transform 0.7s;
	transition-delay: 0.4s;
	transition-timing-function: ease-out;
}
.js .search--open {
	pointer-events: auto;
	transform: translate3d(-100%,0,0);
	transition-delay: 0s;
}

.js .search__wraper::after {
	transition: transform 0.7s;
	transition-timing-function: ease-out;
}

.js .search--open::after {
	transform: translate3d(100%,0,0);
	transition-delay: 0.4s;
}

.js .btn--search-close {
	transition: opacity 0.1s;
	transition-delay: 0.3s;
	border: none;
	background: no-repeat;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search__related {
		font-size: 80%;
		width: 75%;
	}
	.search__input {
		font-size: 2em;
        width: 90%;
        border-width: 2px;
        padding: 9px;
        margin: 2rem;
        border: 0;
        border-bottom: 4px solid #008135;
        background: transparent;
	}
	.search__info {
		width: 90%;
	}
}

.js .main-wrap::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}

/* Layout for search container */
.menu__wraper {
	padding: 5rem 0;
}
.menu__wraper li {width: 100%;}
.menu__wraper .menu li a {
	font-size:1.7rem;
	line-height:3;
	color:#000;
	text-transform:uppercase;
	font-weight:400;
	transition:all 0.5s ease-in-out;
	display:inline-block;
	position:relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    padding: 1rem 4rem
}
/* .menu__wraper li a:after {
    width:0;
    height:2px;
    content:"";
    position:absolute;
    right:0;
    top:45%;
    background:#89c144;
	transition:all 0.5s ease-in-out;
} */
/* .menu__wraper li:hover a:after {
    width:100%
} */
.js .menu__wraper {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 100%;
	overflow: scroll;
	width: 70%;
	height: 100vh;
	background: #fff;
}

.js .menu__wraper::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999999999;
}

.btn-menu {
    background: transparent;
    margin: 0 2rem;
    padding: 0;
    border: 0 !important;
    border-radius:0
}
.btn-menu:hover,
.btn-menu:active {
    background: transparent !important;
    border: 0 !important;
}
.btn-menu svg path {
    fill: #008135;
}
.btn--menu-close {
	font-size: 2em;
	position: fixed;
	z-index: 1001;
	top: 1.25em;
	right: 16rem;
	box-shadow:none;
	background: transparent;
	border: 0!important;
	padding: 0;
	margin: 0;
}
.btn--menu-close svg {
    width: 3rem;
    height: 3rem
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap::after {
	transition: opacity 0.3s;
	transition-timing-function: ease-out;
}

.js .main-wrap--overlay::after {
	opacity: 1;
	transition-delay: 0s;
}

.js .menu__wraper {
	pointer-events: none;
	transition: transform 0.7s;
	transition-delay: 0.4s;
	transition-timing-function: ease-out;
}
.js .menu__wraper > a {
    margin: auto;
    text-align: center;
    display: block;
}
.js .menu--open {
	pointer-events: auto;
	transform: translate3d(100%,0,0);
	transition-delay: 0s;
}

.js .menu__wraper::after {
	transition: transform 0.7s;
	transition-timing-function: ease-out;
}

.js .menu--open::after {
	transform: translate3d(100%,0,0);
	transition-delay: 0.7s;
}

.js .btn--menu-close {
	transition: opacity 0.1s;
	transition-delay: 0.3s;
}

.main-wrap {
	position: relative;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 1.5em;
	box-shadow: none;
	border: none;
	background: transparent;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}

.post-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4rem 0 0;
}
.post-nav .pager {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.post-nav .pager li span ,
.post-nav .pager li a {
    padding: 1rem;
    color: #000;
    background: #E6E6E6;
    margin: 1rem;
    font-size: 1.4rem;
}
.post-nav .pager li.active span ,
.post-nav .pager li.active a {
    background: #008135;
    color: #fff;
}
.post-nav .pager li a.arr.prev span svg {
    transform: rotate(90deg)
}
.post-nav .pager li a.arr[title="Next"] span svg {
    transform: rotate(0deg);
}

.nav-tabs {
    border: 0;
}
.nav-tabs li a {
    border: 0 !important;
    font-size: 1.5rem;
    padding: 0.8rem  2.5rem !important;
    color: #000;
    font-weight: 500;
    line-height: 1.7;
    transition: all 0.5s ease-in-out;
    border-radius: 5rem !important;
}
.nav-tabs li a.active {
    background: #008135 !important;
    color: #fff !important;
}
@media(max-width:768px) {
    html {
        font-size: 8px;
    }
    body.open__menu {
        overflow: hidden;
    }
    .main_title {
        font-size: 2.6rem;
        margin: 1rem 0;
    }
    header {
        padding: 2rem 0;
        filter: unset;
    }
    .header-bottom {
        padding: 1rem 0;
    }
    .about__section .about {
        flex-direction: column;
        padding: 2rem;
    }
    .about__section .about__details {
        padding: 0;
    }
    .about__section .about__image {
        /* display: none; */
    }
    .about__section .about__details .nav-tabs {
        display: flex;
        justify-content: center;
    }
    .about__section .about__details .tab-pane p {
        font-size: 1.7rem;
        text-align: justify;
    }
    .statistics__section .title .text, .statistics__section .statistics-items {
        padding: 1rem;
        margin-top: 0;
    }
    .statistics__section .statistics-items .item img {
        width: 50%;
    }
    .newsletter .newsletter_form{
        width: 100%
    }
    .newsletter{
        padding: 4rem 1rem
    }
    .vision .title p {
        width: 100%;
    }
    .vision .image img {
        width: 50%;
    }
    .vision .image{
        margin: auto;
        text-align: center;
    }
    .contact-info .items {
        flex-direction: column;
    }
    .contact-info .items > .d-flex {
        flex: unset;
        flex-direction: column;
    }
    .contact-info .items .item {
        flex: unset;
        width: 100%;
        margin: 1rem;
    }
    .programs {
        padding: 2rem 0;
        background-size: cover;
    }
    .projects .item .caption ,
    .programs .item .caption {
        padding: 1rem  0.5rem;
    }
    .programs .item .caption p {
        line-height: 1;
    }
    .statistics__section {
        padding: 3rem 0 0;
    }
    .statistics__section .col-xl-5 .image {
        margin: 0;
        display: none;
    }
    .statistics__section .text h3 {
        margin-bottom: 1rem;
    }
    .projects .item .image {
        max-height: 13rem
    }
    .projects .item .caption h3 {
        font-size: 1.3rem;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .footer__top {
        padding: 2rem;
        background-size: cover;
    }
    .footer__top .col:first-of-type ul {
        /*gap: unset;*/
    }
    .footer__top .row {
        /* flex-direction: column; */
    }
    .footer__top .col:first-child {
        flex: 1 0 100%;
        margin-bottom: 2rem
    }
    .footer__top .col:not(:first-child) {
    }
    .footer__bottom {
        padding: 2rem 0;
        text-align: center
    }
    .footer__bottom .d-flex .rowaad {
        text-align: center;
        width: 100%;
    }
    .supervisors, .standing,
    .media {
        padding: 3rem 0;   
    }
    .supervisors .col-xl-4:first-of-type .item .caption p {
        padding: 0;
    }
    .supervisors .item, .standing .item {
        padding: 2rem 0;
    }
    .organizational_chart {
        padding: 2rem 0;
        background-size: cover;
    }
    .organizational_chart .col-xl-4:first-of-type .item .caption {
        width: 100%;
        margin-bottom: 1rem;
    }
    .content nav {
        position: relative;
        height: 50px;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .content .nav-links {
        display: block;
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        z-index: 99;
        left: 0;
        margin: auto;
        padding: 0;
        transition: all 0.3s;
        visibility: hidden;
    }
    input[type=checkbox]:checked ~ .nav-links {
        /* display:block; */
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
    }
    .content .nav-links .menu{
        padding: 0;
    }
    .content .nav-links::before {
        background: rgba(0, 0, 0, 0.5);
        content: "";
        height: 100vh;
        right: 0;
        top: 0;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        transition: all 0.3s;
    }
    .content .nav-links li {
        border-bottom: 1px solid #D0D0D0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.3s;
    }
    .content .nav-links li a {
        border: none;
        background: #fff;
        color: #000;
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        padding: 12px 20px;
        width: 100%;
        transition: all 0.3s;
    }
    .content .nav-links li a:hover {
        color: coral;
    }
    
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }
    .content input[type=checkbox]:checked + label {
        /* border: 4px solid silver; */
        /* border-radius: 50%; */
        height: 28px;
        top: 0;
        right: 0;
        width: 28px;
        transform: rotate(135deg);
        border: none;
    }
    input[type=checkbox]:checked + label::before {
        background: #000;
        top: 8px;
        right: 4px;
        width: 24px;
    }
    input[type=checkbox]:checked + label::after {
        background: #000;
        opacity: 1;
        top: 8px;
        right: 4px;
        visibility: visible;
        width: 24px;
    }
    input[type=checkbox]:checked + label:hover {
        border: none;
    }
    input[type=checkbox]:checked + label:hover::before, input[type=checkbox]:checked + label:hover::after {
        background: #000;
    }
    input[type=checkbox]:checked ~ .nav-links::before {
        opacity: 1;
        visibility: visible;
    }
    input[type=checkbox]:checked ~ .nav-links li {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    
    .content label {
        background: none transparent;
        border: 4px solid #000;
        border-right: 0 solid transparent;
        border-left: 0 solid transparent;
        cursor: pointer;
        display: block;
        height: 24px;
        position: relative;
        right: 0;
        width: 24px;
        transition: all 0.2s;
    }
    .content label::before {
        background: #000;
        content: "";
        height: 4px;
        right: 0;
        position: absolute;
        top: 6px;
        width: 24px;
        transition: all 0.2s;
    }
    .content label::after {
        background: coral;
        content: "";
        height: 4px;
        right: 0;
        position: absolute;
        top: 6px;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        transform: rotate(-90deg);
        transition: all 0.2s;
    }
    header .menu li.menu-item-has-children {
        position: relative;
    }
    header .menu li.menu-item-has-children:hover ul {
        position: relative;
        top: 0;
        width: 100%;
        border-radius: 0;
    }
    header .menu li.menu-item-has-children:after {
        left: unset;
        right: 3rem;
        top: 15px;
    }
    header .menu {
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        gap: unset;
    }
    .about-page .about_content {
        padding: 0 2rem ;
        background: transparent;
    }
    .about-page .about_content .text {
        width: 100%
    }
    .about-page .vision {
        padding: 0;
    }
    .about-page .vision .d-flex {
        flex-direction: column;
    }
    .about-page .vision .image {
        margin: 0 2rem;
        padding: 2rem;
        text-align: center;
    }
    .about-page .vision .image img {
        width: 50%;
        margin: auto;
    }
    .about-page .vision .text {
        padding: 0 2rem
    }
    .achievements-page .archive .item {
        width: 50%;
        flex: unset;
    }
    .partners-page .item {
        width: 50%;
    }
    .single-services .gform_wrapper .gfield_radio {
        max-width: 100%;
    }
    .single-services .gform_wrapper legend ,
    .single-services .gform_wrapper .gfield_radio .gchoice label {
        font-size: 1.5rem !important;
    }
    .contact-page .gform_wrapper .gform_fields .gfield ,
    .page-id-2664 .gform_wrapper.gravity-theme .gform_fields .gfield {
        width: 100%;
    }
    .single__header {
        padding: 3rem 0 0
    }
    .contact-page .gform_wrapper {
        padding: 2rem 0;
        margin: 0;
        width: 100%;
    }
    .governance-page .item {
        margin: 1rem 0;
        min-height: 20rem !important;
    }
    .governance-page .item .name {
        padding: 0.5rem;
    }
    .tax_items {
        flex-direction: column;
    }
    .header__logo img {
        width: 70%;
    }
    .search__form {
        display: flex;
        align-items: center;
        margin: 2rem;
    }
    .search__form button {
        padding: 0;
        border: 0 !important;
    }    
    .search__form button svg {
        width: 3rem;
    }
    .search__input {
        font-family: inherit;
        font-size: 2rem;
        line-height: 1;
        display: inline-block;
        box-sizing: border-box;
        width: 94%;
        padding: 0.05em 0;
        color: #000;
        border: none;
        border-bottom: 4px solid #008135;
        /* margin: 2rem; */
        height: 7rem;
    }
    #QuotationModalHeader .modal-body .gform_wrapper {
        width: 100%
    }
    #QuotationModalHeader .modal-content {
        padding: 0;
    }
    .contact-page .contact-info .d-flex {
        flex-direction: column;
    }
    .contact-info .item:first-of-type {
        width: 100%
    }
    .projects-page.projects .item {
        margin:0;
    }
    .projects .item .image .icon p {
        margin: 0;
        padding: 0 1rem
    }
    .projects .item .image .icon p svg {
        width: 1rem;
    }
    .contact-page .bottom .map {
        margin: 0
    }
}
@media(max-width: 768px ) and (min-width: 500px) {
    html {
        font-size: 8px;
    }
    .upload__file .ginput_container + .gfield_description {
        background-size: 3%;
    }
    .footer__top .emaillist form input.es_txt_email {
        /* background-size: 5%; */
    }
    .col {
        flex-grow: 2;
        max-width: 50%;
        width: 50%;
    }
    .footer__top .row {
        flex-direction: revert
    }
    .btn--menu-close {
        right: 33rem;
    }
   
}
@media(max-width: 991px) and (min-width: 768px) {
    html {
        font-size: 8px;
    }
   
}
@media(max-width: 1191px) and (min-width: 992px) {
    html {
        font-size: 8px;
    }
    .footer__top {
        padding-top: 4.5rem;
    }
    .partners-page .item .image {
        padding: 1.4rem;
    }
    .partners-page .item .image img {
        width: 72%;
    }
}
@media(max-width: 1366px) and (min-width: 1191px) {
    html {
        /* font-size: 11px; */
    }
}
@media(max-width: 1366px) and (min-width: 1290px) {
    html {
        font-size: 11px;
    }
    .programs {
        padding-top: 5rem;
    }
    .about-page .about_content {
        /* padding-right: 12rem; */
    }
    header .search {
        margin: 0;
    }
    header .request button {
        padding: 1rem;
    }
    header .menu li a {
        font-size: 1rem
    }
    .about-page .message .image img, .about-page .vision .image img {
        width: 100%
    }
    .contact-page .gform_wrapper {
        padding: 3.7rem 12rem
    }
}
@media(max-width: 1920px) and (min-width: 1290px) {
    .projects .slick-prev {
        right: 31% !important;
    }
    .projects .slick-next {
        right: 28% !important;
    }
}
#searchform input {
    height: 4.3rem;
    border-right: 0;
}
#searchform .btn {
    margin: 0;
    padding: 1rem;
    border-radius: 0;
    
}
.page-title {
    border: none;
}
.page-title:before {
    display: none;
}