	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2019 09:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-facebook-letter-logo:before { content: "\f100"; }
.flaticon-twitter:before { content: "\f101"; }
.flaticon-instagram-logo:before { content: "\f102"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f103"; }
.flaticon-instagram:before { content: "\f104"; }
.flaticon-twitter-1:before { content: "\f105"; }
.flaticon-twitter-logo-on-black-background:before { content: "\f106"; }
.flaticon-facebook:before { content: "\f107"; }
.flaticon-facebook-logo-button:before { content: "\f108"; }
.flaticon-facebook-1:before { content: "\f109"; }
.flaticon-whatsapp:before { content: "\f10a"; }
.flaticon-whatsapp-1:before { content: "\f10b"; }
.flaticon-whatsapp-2:before { content: "\f10c"; }
.flaticon-snapchat:before { content: "\f10d"; }
.flaticon-snapchat-1:before { content: "\f10e"; }
.flaticon-snapchat-2:before { content: "\f10f"; }
.flaticon-snapchat-3:before { content: "\f110"; }
.flaticon-youtube:before { content: "\f111"; }
.flaticon-youtube-1:before { content: "\f112"; }
.flaticon-youtube-logo:before { content: "\f113"; }
.flaticon-google-plus-logo:before { content: "\f114"; }
.flaticon-google-plus:before { content: "\f115"; }
.flaticon-google-plus-logo-button:before { content: "\f116"; }
.flaticon-telegram:before { content: "\f117"; }
.flaticon-search:before { content: "\f118"; }
.flaticon-search-1:before { content: "\f119"; }
.flaticon-right-arrow:before { content: "\f11a"; }
.flaticon-back:before { content: "\f11b"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f11c"; }
.flaticon-right-arrow-1:before { content: "\f11d"; }
.flaticon-down-arrow:before { content: "\f11e"; }
.flaticon-play-button:before { content: "\f11f"; }
.flaticon-play-button-1:before { content: "\f120"; }
.flaticon-play-button-2:before { content: "\f121"; }
.flaticon-play-button-3:before { content: "\f122"; }
.flaticon-email:before { content: "\f123"; }
.flaticon-mail:before { content: "\f124"; }
.flaticon-group:before { content: "\f125"; }
.flaticon-call:before { content: "\f126"; }
.flaticon-call-1:before { content: "\f127"; }
.flaticon-comment:before { content: "\f128"; }
.flaticon-conversation:before { content: "\f129"; }
.flaticon-chat:before { content: "\f12a"; }
.flaticon-share:before { content: "\f12b"; }
.flaticon-share-1:before { content: "\f12c"; }
.flaticon-heart:before { content: "\f12d"; }
.flaticon-heart-1:before { content: "\f12e"; }
.flaticon-followers:before { content: "\f12f"; }
.flaticon-follower:before { content: "\f130"; }
.flaticon-calendar:before { content: "\f131"; }
.flaticon-small-calendar:before { content: "\f132"; }
.flaticon-double-king-size-bed:before { content: "\f133"; }
.flaticon-group-1:before { content: "\f134"; }
.flaticon-friend:before { content: "\f135"; }
.flaticon-mail-black-envelope-symbol:before { content: "\f136"; }
.flaticon-close-envelope:before { content: "\f137"; }
.flaticon-placeholder:before { content: "\f138"; }
.flaticon-placeholder-filled-point:before { content: "\f139"; }
.flaticon-placeholder-1:before { content: "\f13a"; }
.flaticon-linkedin-logo:before { content: "\f13b"; }
.flaticon-linkedin-logo-1:before { content: "\f13c"; }
.flaticon-linkedin-logo-button:before { content: "\f13d"; }
.flaticon-linkedin-letters:before { content: "\f13e"; }
.flaticon-linkedin-logo-2:before { content: "\f13f"; }
.flaticon-envelope:before { content: "\f140"; }
.flaticon-image:before { content: "\f141"; }
.flaticon-gallery:before { content: "\f142"; }
.flaticon-frame-landscape:before { content: "\f143"; }
.flaticon-right-arrow-circular-button:before { content: "\f144"; }
.flaticon-down:before { content: "\f145"; }
.flaticon-clock:before { content: "\f146"; }
.flaticon-facebook-logo:before { content: "\f147"; }
.flaticon-facebook-logo-1:before { content: "\f148"; }
.flaticon-instagram-1:before { content: "\f149"; }
.flaticon-video-play-button:before { content: "\f14a"; }
.flaticon-arrowhead-pointing-to-the-right:before { content: "\f14b"; }