@font-face {
    font-family: 'Bahij TheSansArabic';
    src: url('BahijTheSansArabic-Bold.woff2') format('woff2'),
        url('BahijTheSansArabic-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

