@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Bold.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Light.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Regular.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Bold.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

