@font-face {
    font-family: 'KorolevCondensedW04';
    src: url('KorolevCondensedW04-Bold.woff2') format('woff2'),
        url('KorolevCondensedW04-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

